# Git config file extending local configuration.
# Should be added to local config:
# ~~~
# git config --local --add include.path ../.gitconfig
# ~~~

# Configure "pre-commit" hook.
# Requires https://github.com/slavcodev/git-hooks
[hooks "pre-commit"]
  disallow-commits = disallow-commits/disallow-commits

# Disallow mistakenly commits to master.
[disallow-commits]
  branch = master
